button{
    border: 3px solid black;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 5px 5px;
    text-align: center;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green:hover{
    color: green;
    font-weight: bold;
    background-color: white;
     border: 3px solid GREEN;
}

#red:hover{
    color: red;
    font-weight: bold;
    background-color: white;
     border: 3px solid red;
}

#blue:hover{
    color: blue;
    font-weight: bold;
    background-color: white;
     border: 3px solid blue;
}

h3{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin:59px auto;

}


.btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:
}