button{
    border: 3px solid black;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 5px 5px;
    text-align: center;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

